body{
    display:flex;
    align-items: center;
    justify-items: center;
}
container{
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(163,45,195,1) 100%);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
}
.profile{
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid #;
}

.link{
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(42, 111, 201);
    padding: 5px 10px;
    border-radius: 10px;
    margin: 20px 0;
    text-decoration: none;
}
p{
    color: white;
    font-weight: 600;
}